extends layout 

block content 
  h1 #{title} : #{book.title}
  
  if bookinstance.length 
    p #[strong Delete the following copies before deleting the book]

    div(style='margin-left:20px;margin-top:20px')
      
      h4 Copies 

      ul 
        each copy in bookinstance 
          li 
            a(href=copy.url) #{copy.imprint}
              
  else 
    p #[strong You are about to delete the book from the database]